{% load static %}
<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Task Management{% endblock %}</title>
    <link rel="icon" type="icon" href="{% static 'css/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        var errorAlert = document.getElementById('error-alert');
        if (errorAlert) {
          errorAlert.style.display = 'none';
        }
      }, 3000); // 3 seconds
      });
      </script>
  </head>
  <body class="bg-white">

    <section style="background-color: #176B87;">
      <div style="text-align: right">
        {% if user.is_authenticated %}
        <div style="padding: 10px;">
          <span class="me-3" style="color:white"><strong>Welcome, {{ user.username }} ..!</strong></span>
          <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-sm btn-dark"><i class="fa-solid fa-power-off"></i> Sign Out</button>
          </a>
        </div>
      {% endif %}
      
      </div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">

    
                  <img src="{% static 'css/img/banner_1.jpg' %}" alt="Banner" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    
                    {% if user.is_authenticated %} 
                      {% url 'task_list' as task_list_url %}
                      {% if request.path != task_list_url %}
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item" ><a style="text-decoration: none;" href="{{ task_list_url }}"><i class="fa fa-home me-1" aria-hidden="true"></i>Home</a></li>
                          </ol>
                        </nav>
                      {% endif %}
                    {% endif %}

                    {% block content %} {% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
